*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f7fb;
color:#333;
}

header{
background:linear-gradient(90deg,#004aad,#0077ff);
color:white;
text-align:center;
padding:40px;
}

.hero img{
width:100%;
height:500px;
object-fit:cover;
}

section{
width:90%;
margin:auto;
padding:50px 0;
}

h2{
margin-bottom:20px;
color:#004aad;
}

.cards{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:25px;
flex:1;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,.15);
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.gallery{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.gallery img{
width:320px;
height:220px;
object-fit:cover;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,.2);
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th{
background:#004aad;
color:white;
padding:15px;
}

td{
padding:15px;
text-align:center;
border:1px solid #ddd;
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input,
select,
textarea{
padding:12px;
border-radius:8px;
border:1px solid #aaa;
font-size:16px;
}

button{
background:#0077ff;
color:white;
padding:15px;
border:none;
border-radius:8px;
font-size:18px;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#0053c7;
}

footer{
background:#00264d;
color:white;
text-align:center;
padding:40px;
margin-top:40px;
}
